In [1]:
import pandas as pd

In [12]:
df = pd.read_csv('D:/Users/rlopes/Documents/lab/dates_sample.csv')

In [18]:
df['converted_date'] = pd.to_datetime(df['Data'])

In [19]:
df

          Data converted_date
0   01/01/2021     2021-01-01
1   02/01/2021     2021-02-01
2   03/01/2021     2021-03-01
3   04/01/2021     2021-04-01
4   05/01/2021     2021-05-01
5   06/01/2021     2021-06-01
6   07/01/2021     2021-07-01
7   08/01/2021     2021-08-01
8   09/01/2021     2021-09-01
9   10/01/2021     2021-10-01
10  11/01/2021     2021-11-01
11  12/01/2021     2021-12-01
12  13/01/2021     2021-01-13
13  14/01/2021     2021-01-14
14  15/01/2021     2021-01-15
15  16/01/2021     2021-01-16
16  17/01/2021     2021-01-17
17  18/01/2021     2021-01-18
18  19/01/2021     2021-01-19
19  20/01/2021     2021-01-20
20  21/01/2021     2021-01-21
21  22/01/2021     2021-01-22
22  23/01/2021     2021-01-23
23  24/01/2021     2021-01-24
24  25/01/2021     2021-01-25
25  26/01/2021     2021-01-26
26  27/01/2021     2021-01-27
27  28/01/2021     2021-01-28
28  29/01/2021     2021-01-29
29  30/01/2021     2021-01-30
30  31/01/2021     2021-01-31

In [20]:
df['formated_date'] = pd.to_datetime(df['Data'], format='%d/%m/%Y')

In [21]:
df

          Data converted_date formated_date
0   01/01/2021     2021-01-01    2021-01-01
1   02/01/2021     2021-02-01    2021-01-02
2   03/01/2021     2021-03-01    2021-01-03
3   04/01/2021     2021-04-01    2021-01-04
4   05/01/2021     2021-05-01    2021-01-05
5   06/01/2021     2021-06-01    2021-01-06
6   07/01/2021     2021-07-01    2021-01-07
7   08/01/2021     2021-08-01    2021-01-08
8   09/01/2021     2021-09-01    2021-01-09
9   10/01/2021     2021-10-01    2021-01-10
10  11/01/2021     2021-11-01    2021-01-11
11  12/01/2021     2021-12-01    2021-01-12
12  13/01/2021     2021-01-13    2021-01-13
13  14/01/2021     2021-01-14    2021-01-14
14  15/01/2021     2021-01-15    2021-01-15
15  16/01/2021     2021-01-16    2021-01-16
16  17/01/2021     2021-01-17    2021-01-17
17  18/01/2021     2021-01-18    2021-01-18
18  19/01/2021     2021-01-19    2021-01-19
19  20/01/2021     2021-01-20    2021-01-20
20  21/01/2021     2021-01-21    2021-01-21
21  22/01/2021     2021-01-22    2021-01-22
22  23/01/2021     2021-01-23    2021-01-23
23  24/01/2021     2021-01-24    2021-01-24
24  25/01/2021     2021-01-25    2021-01-25
25  26/01/2021     2021-01-26    2021-01-26
26  27/01/2021     2021-01-27    2021-01-27
27  28/01/2021     2021-01-28    2021-01-28
28  29/01/2021     2021-01-29    2021-01-29
29  30/01/2021     2021-01-30    2021-01-30
30  31/01/2021     2021-01-31    2021-01-31